.navbar {
  border-radius: 0;
  margin-bottom: 0;
}

.hero-content {
  height: 500px;
  width: 100%;
  background-color: #ddd;
}

#portfolio {
  text-align: center;
}

.portfolio-item {
  height: 300px;
  width: 100%;
  max-width: 500px;
  margin: 0 auto 20px;
  background-color: #ddd;
}
