/* Generale */

body {
  font-family: 'Lato';
  font-size: 20px;
}

.wrapper {
  max-width: 750px;
  margin: 0 auto;
}

.t_dark {
  color: #2C3E50;
}

.t_white {
  color: #fff;
}

.bg_dark {
  background-color: #2C3E50;
}

.bg_aqua {
  background-color: #1ABC9C;
}

.btn_aqua {
  background-color: #1ABC9C;
  color: #fff;
  border-radius: 8px;
}

.btn_transparent {
  background: none;
  border: 2px solid #fff;
  border-radius: 8px;
}

.btn_p {
  padding: 18px 30px;
  font-size: 20px;
}

.list_inline {
  display: inline-block;
}

.icon_separator {
  font-size: 32px;
  margin: 20px 30px 30px;
}

.icon_separator::before, .icon_separator::after {
  content:"";
  display: inline-block;
  height: 4px;
  width: 110px;
  border-radius: 5px;
  vertical-align: middle;
}

.dark_line::before, .dark_line::after {
  background-color: #2C3E50;
}

.white_line::before, .white_line::after {
  background-color: #fff;
}

.header_top, .hero_content h1, section h2 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
}

section {
  padding: 60px 0;
}

section h2 {
  font-size: 48px;
  text-align: center;
  color: #fff;
}

section:nth-child(odd) h2 {
  color: #2C3E50;
}

/* Header */

header {
  color: #fff;
}

.header_top {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100px;
  line-height: 100px;
}

.header_top #brand {
  font-size: 28px;
}

.header_top a {
  font-weight: 700;
  color: #fff;
  text-decoration: none;
}

.header_top .main_menu li:not(:first-child) {
  margin-left: 40px;
}

.header_top .main_menu a {
  font-size: 16px;
}

.header_top .main_menu a:hover {
  color: #1ABC9C;
}

.hamburger_menu button {
  padding: 12px 15px;
  font-weight: bold;
  font-size: 12px;
}

.hamburger_menu button:hover {
  background-color: #159A80;
  color: #fff;
}

.hamburger_menu button span {
  margin-left: 4px;
}

.hero {
  margin-top: 100px;
  padding: 80px 0;
}

.hero_content h1 {
  font-size: 64px;
}

.hero_content p {
  font-weight: 400;
  font-size: 25px;
}

.hero_content img {
  height: 250px;
}

/* Sezione Portfolio */

.portfolio_item {
  position: relative;
  margin: 0 auto 20px;
}

.portfolio_item:hover .portfolio_item_overlay {
  opacity: 1;
  transition: opacity 0.3s;
}

.portfolio_item img {
  width: 100%;
  border-radius: 10px;
}

.portfolio_item_overlay {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(26,188,156, 0.85);
  border-radius: 10px;
  transition: opacity 0.3s;
  cursor: pointer;
}

.portfolio_item_overlay i {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 75px;
  color: #fff;
}

/* Sezione About */

#about button {
  margin-top: 40px;
}

#about button:hover {
  background-color: #fff;
}

/* Sezione Contact */

#contact input, #contact textarea {
  padding: 50px 0;
  border: none;
  border-bottom: 1px solid #E9ECEF;
  outline: none;
  font-size: 24px;
  box-shadow: none;
  resize: none;
}

#contact form button:hover {
  background-color: #159A80;
  color: #fff;
}

/* Footer */

#footer_top {
  padding: 60px 0;
  color: #fff;
  text-align: center;
}

#footer_top h3 {
  font-family: 'Montserrat', sans-serif;
  margin-bottom: 20px;
  font-weight: 700;
  text-transform: uppercase;
}

#footer_top ul {
  padding: 0;
}

#footer_top li:not(:first-child) {
  margin-left: 15px;
}

#footer_top .footer_social li a {
  display: inline-block;
  height: 50px;
  width: 50px;
  line-height: 50px;
  border: 2px solid #fff;
  border-radius: 50%;
  color: #fff;
  transition: color 0.3s, background-color 0.3s;
}

#footer_top .footer_social li a:hover {
  color: #2C3E50;
  background-color: #fff;
  transition: color 0.3s, background-color 0.3s;
}

#footer_top a {
  color: #1ABC9C;
}

#footer_bottom {
  color: #fff;
  background-color: #1A252F;
}

#footer_bottom p {
  padding: 30px 0;
  margin: 0;
  font-size: 12px;
}

/* MEDIA QUERY */

/* Mobile */

@media screen and (max-width: 768px) {
.about_text {
  padding: 0 40px 30px;
}

.portfolio_item {
  display: block;
  max-width: 400px;
}


}

/* Tablet */

@media screen and (max-width:992px) {

  .icon_separator::before, .icon_separator::after {
    width: 80px;
  }

  section h2 {
    font-size: 36px;
  }

  .header_top #brand {
    font-size: 20px;
  }

  .hero_content h1 {
    font-size: 44px;
  }

  .hero_content p {
    font-size: 20px;
  }

  .footer_column {
    margin-bottom: 20px;
  }
}
