.navbar {
  border-radius: 0;
  margin-bottom: 0;
}

.hero-content {
  height: 500px;
  width: 100%;
  background-color: #ddd;
}

section h2 {
  text-align: center;
}

.portfolio-item {
  height: 300px;
  width: 100%;
  max-width: 500px;
  margin: 0 auto 20px;
  background-color: #ddd;
}

#about, .jumbotron {
  background-color: #666;
}

#about {
  padding: 40px 0;
  color: #fff;
}

#about button {
  display: block;
  margin: 30px auto 0;
}


@media screen and (max-width: 768px) {
.about-text {
  padding: 0 40px 30px;
}

}
